<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:rabbit="http://www.springframework.org/schema/rabbit"

	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd
 		">

	<!-- 开启扫描 -->
	<context:component-scan base-package="com.hawksoft.platform">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	<bean id="ropertyConfigurer"  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<!-- 配置proxool数据库连接池 -->
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="alias" value="dbpool"></property>
		<property name="driver">
			<value>${driverClass}</value>
		</property>
		<property name="driverUrl">
			<value>${url}</value>
		</property>
		<property name="user">
			<value>${name}</value>
		</property>
		<property name="password">
			<value>${password}</value>
		</property>
		<property name="houseKeepingTestSql">
			<value>select 1 from dual</value>
		</property>
		<!--最大连接数-->
		<property name="maximumConnectionCount">
			<value>10</value>
		</property>
		<!--最小连接数-->
		<property name="minimumConnectionCount">
			<value>5</value>
		</property>
		<!--最大活动时间（超过此时间线程将被kill）(单位：毫秒)-->
		<property name="maximumActiveTime">
			<value>36000000</value>
		</property>
		<!--任意时刻可以同时建立的最大连接数-->
		<property name="simultaneousBuildThrottle">
			<value>5</value>
		</property>
		<property name="verbose">
			<value>true</value>
		</property>
		<property name="trace">
			<value>true</value>
		</property>
		<property name="statistics">
			<value>10s,1m,1d</value>
		</property>
	</bean>

	<!-- 配置sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:SqlMapConfig.xml"></property>
		<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
	</bean>

	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.hawksoft.platform.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- 开启事务扫描
    <tx:annotation-driven transaction-manager="transactionManager"/>-->
	<tx:advice id="txadvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	<aop:config proxy-target-class="true">
		<aop:pointcut expression="execution(* com.hawksoft.platform.service..*.*(..))" id="pointcut"/>
		<aop:advisor advice-ref="txadvice" pointcut-ref="pointcut"/>
	</aop:config>
</beans>