<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawksoft.platform.generatorMapper.FloatingmatterMapper">
  <resultMap id="BaseResultMap" type="com.hawksoft.platform.generatorPojo.Floatingmatter">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stnId" jdbcType="INTEGER" property="stnid" />
    <result column="collectionTime" jdbcType="TIMESTAMP" property="collectiontime" />
    <result column="camIndex" jdbcType="INTEGER" property="camindex" />
    <result column="filePathOrigin" jdbcType="VARCHAR" property="filepathorigin" />
    <result column="filePathResult" jdbcType="VARCHAR" property="filepathresult" />
    <result column="picOrVideo" jdbcType="CHAR" property="picorvideo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stnId, collectionTime, camIndex, filePathOrigin, filePathResult, picOrVideo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from floatingmatter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from floatingmatter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    insert into floatingmatter (id, stnId, collectionTime, 
      camIndex, filePathOrigin, filePathResult, 
      picOrVideo)
    values (#{id,jdbcType=INTEGER}, #{stnid,jdbcType=INTEGER}, #{collectiontime,jdbcType=TIMESTAMP}, 
      #{camindex,jdbcType=INTEGER}, #{filepathorigin,jdbcType=VARCHAR}, #{filepathresult,jdbcType=VARCHAR}, 
      #{picorvideo,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    insert into floatingmatter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stnid != null">
        stnId,
      </if>
      <if test="collectiontime != null">
        collectionTime,
      </if>
      <if test="camindex != null">
        camIndex,
      </if>
      <if test="filepathorigin != null">
        filePathOrigin,
      </if>
      <if test="filepathresult != null">
        filePathResult,
      </if>
      <if test="picorvideo != null">
        picOrVideo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stnid != null">
        #{stnid,jdbcType=INTEGER},
      </if>
      <if test="collectiontime != null">
        #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="camindex != null">
        #{camindex,jdbcType=INTEGER},
      </if>
      <if test="filepathorigin != null">
        #{filepathorigin,jdbcType=VARCHAR},
      </if>
      <if test="filepathresult != null">
        #{filepathresult,jdbcType=VARCHAR},
      </if>
      <if test="picorvideo != null">
        #{picorvideo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    update floatingmatter
    <set>
      <if test="stnid != null">
        stnId = #{stnid,jdbcType=INTEGER},
      </if>
      <if test="collectiontime != null">
        collectionTime = #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="camindex != null">
        camIndex = #{camindex,jdbcType=INTEGER},
      </if>
      <if test="filepathorigin != null">
        filePathOrigin = #{filepathorigin,jdbcType=VARCHAR},
      </if>
      <if test="filepathresult != null">
        filePathResult = #{filepathresult,jdbcType=VARCHAR},
      </if>
      <if test="picorvideo != null">
        picOrVideo = #{picorvideo,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    update floatingmatter
    set stnId = #{stnid,jdbcType=INTEGER},
      collectionTime = #{collectiontime,jdbcType=TIMESTAMP},
      camIndex = #{camindex,jdbcType=INTEGER},
      filePathOrigin = #{filepathorigin,jdbcType=VARCHAR},
      filePathResult = #{filepathresult,jdbcType=VARCHAR},
      picOrVideo = #{picorvideo,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.hawksoft.platform.generatorPojo.Floatingmatter">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stnId" jdbcType="INTEGER" property="stnid" />
    <result column="collectionTime" jdbcType="TIMESTAMP" property="collectiontime" />
    <result column="camIndex" jdbcType="INTEGER" property="camindex" />
    <result column="filePathOrigin" jdbcType="VARCHAR" property="filepathorigin" />
    <result column="filePathResult" jdbcType="VARCHAR" property="filepathresult" />
    <result column="picOrVideo" jdbcType="CHAR" property="picorvideo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stnId, collectionTime, camIndex, filePathOrigin, filePathResult, picOrVideo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from floatingmatter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from floatingmatter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    insert into floatingmatter (id, stnId, collectionTime, 
      camIndex, filePathOrigin, filePathResult, 
      picOrVideo)
    values (#{id,jdbcType=INTEGER}, #{stnid,jdbcType=INTEGER}, #{collectiontime,jdbcType=TIMESTAMP}, 
      #{camindex,jdbcType=INTEGER}, #{filepathorigin,jdbcType=VARCHAR}, #{filepathresult,jdbcType=VARCHAR}, 
      #{picorvideo,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    insert into floatingmatter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stnid != null">
        stnId,
      </if>
      <if test="collectiontime != null">
        collectionTime,
      </if>
      <if test="camindex != null">
        camIndex,
      </if>
      <if test="filepathorigin != null">
        filePathOrigin,
      </if>
      <if test="filepathresult != null">
        filePathResult,
      </if>
      <if test="picorvideo != null">
        picOrVideo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stnid != null">
        #{stnid,jdbcType=INTEGER},
      </if>
      <if test="collectiontime != null">
        #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="camindex != null">
        #{camindex,jdbcType=INTEGER},
      </if>
      <if test="filepathorigin != null">
        #{filepathorigin,jdbcType=VARCHAR},
      </if>
      <if test="filepathresult != null">
        #{filepathresult,jdbcType=VARCHAR},
      </if>
      <if test="picorvideo != null">
        #{picorvideo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    update floatingmatter
    <set>
      <if test="stnid != null">
        stnId = #{stnid,jdbcType=INTEGER},
      </if>
      <if test="collectiontime != null">
        collectionTime = #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="camindex != null">
        camIndex = #{camindex,jdbcType=INTEGER},
      </if>
      <if test="filepathorigin != null">
        filePathOrigin = #{filepathorigin,jdbcType=VARCHAR},
      </if>
      <if test="filepathresult != null">
        filePathResult = #{filepathresult,jdbcType=VARCHAR},
      </if>
      <if test="picorvideo != null">
        picOrVideo = #{picorvideo,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    update floatingmatter
    set stnId = #{stnid,jdbcType=INTEGER},
      collectionTime = #{collectiontime,jdbcType=TIMESTAMP},
      camIndex = #{camindex,jdbcType=INTEGER},
      filePathOrigin = #{filepathorigin,jdbcType=VARCHAR},
      filePathResult = #{filepathresult,jdbcType=VARCHAR},
      picOrVideo = #{picorvideo,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.hawksoft.platform.generatorPojo.Floatingmatter">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stnId" jdbcType="INTEGER" property="stnid" />
    <result column="collectionTime" jdbcType="TIMESTAMP" property="collectiontime" />
    <result column="camIndex" jdbcType="INTEGER" property="camindex" />
    <result column="filePathOrigin" jdbcType="VARCHAR" property="filepathorigin" />
    <result column="filePathResult" jdbcType="VARCHAR" property="filepathresult" />
    <result column="picOrVideo" jdbcType="CHAR" property="picorvideo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stnId, collectionTime, camIndex, filePathOrigin, filePathResult, picOrVideo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from floatingmatter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from floatingmatter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    insert into floatingmatter (id, stnId, collectionTime, 
      camIndex, filePathOrigin, filePathResult, 
      picOrVideo)
    values (#{id,jdbcType=INTEGER}, #{stnid,jdbcType=INTEGER}, #{collectiontime,jdbcType=TIMESTAMP}, 
      #{camindex,jdbcType=INTEGER}, #{filepathorigin,jdbcType=VARCHAR}, #{filepathresult,jdbcType=VARCHAR}, 
      #{picorvideo,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    insert into floatingmatter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stnid != null">
        stnId,
      </if>
      <if test="collectiontime != null">
        collectionTime,
      </if>
      <if test="camindex != null">
        camIndex,
      </if>
      <if test="filepathorigin != null">
        filePathOrigin,
      </if>
      <if test="filepathresult != null">
        filePathResult,
      </if>
      <if test="picorvideo != null">
        picOrVideo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stnid != null">
        #{stnid,jdbcType=INTEGER},
      </if>
      <if test="collectiontime != null">
        #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="camindex != null">
        #{camindex,jdbcType=INTEGER},
      </if>
      <if test="filepathorigin != null">
        #{filepathorigin,jdbcType=VARCHAR},
      </if>
      <if test="filepathresult != null">
        #{filepathresult,jdbcType=VARCHAR},
      </if>
      <if test="picorvideo != null">
        #{picorvideo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    update floatingmatter
    <set>
      <if test="stnid != null">
        stnId = #{stnid,jdbcType=INTEGER},
      </if>
      <if test="collectiontime != null">
        collectionTime = #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="camindex != null">
        camIndex = #{camindex,jdbcType=INTEGER},
      </if>
      <if test="filepathorigin != null">
        filePathOrigin = #{filepathorigin,jdbcType=VARCHAR},
      </if>
      <if test="filepathresult != null">
        filePathResult = #{filepathresult,jdbcType=VARCHAR},
      </if>
      <if test="picorvideo != null">
        picOrVideo = #{picorvideo,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    update floatingmatter
    set stnId = #{stnid,jdbcType=INTEGER},
      collectionTime = #{collectiontime,jdbcType=TIMESTAMP},
      camIndex = #{camindex,jdbcType=INTEGER},
      filePathOrigin = #{filepathorigin,jdbcType=VARCHAR},
      filePathResult = #{filepathresult,jdbcType=VARCHAR},
      picOrVideo = #{picorvideo,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.hawksoft.platform.generatorPojo.Floatingmatter">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stnId" jdbcType="INTEGER" property="stnid" />
    <result column="collectionTime" jdbcType="TIMESTAMP" property="collectiontime" />
    <result column="camIndex" jdbcType="INTEGER" property="camindex" />
    <result column="filePathOrigin" jdbcType="VARCHAR" property="filepathorigin" />
    <result column="filePathResult" jdbcType="VARCHAR" property="filepathresult" />
    <result column="picOrVideo" jdbcType="CHAR" property="picorvideo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stnId, collectionTime, camIndex, filePathOrigin, filePathResult, picOrVideo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from floatingmatter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from floatingmatter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    insert into floatingmatter (id, stnId, collectionTime, 
      camIndex, filePathOrigin, filePathResult, 
      picOrVideo)
    values (#{id,jdbcType=INTEGER}, #{stnid,jdbcType=INTEGER}, #{collectiontime,jdbcType=TIMESTAMP}, 
      #{camindex,jdbcType=INTEGER}, #{filepathorigin,jdbcType=VARCHAR}, #{filepathresult,jdbcType=VARCHAR}, 
      #{picorvideo,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    insert into floatingmatter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stnid != null">
        stnId,
      </if>
      <if test="collectiontime != null">
        collectionTime,
      </if>
      <if test="camindex != null">
        camIndex,
      </if>
      <if test="filepathorigin != null">
        filePathOrigin,
      </if>
      <if test="filepathresult != null">
        filePathResult,
      </if>
      <if test="picorvideo != null">
        picOrVideo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stnid != null">
        #{stnid,jdbcType=INTEGER},
      </if>
      <if test="collectiontime != null">
        #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="camindex != null">
        #{camindex,jdbcType=INTEGER},
      </if>
      <if test="filepathorigin != null">
        #{filepathorigin,jdbcType=VARCHAR},
      </if>
      <if test="filepathresult != null">
        #{filepathresult,jdbcType=VARCHAR},
      </if>
      <if test="picorvideo != null">
        #{picorvideo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    update floatingmatter
    <set>
      <if test="stnid != null">
        stnId = #{stnid,jdbcType=INTEGER},
      </if>
      <if test="collectiontime != null">
        collectionTime = #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="camindex != null">
        camIndex = #{camindex,jdbcType=INTEGER},
      </if>
      <if test="filepathorigin != null">
        filePathOrigin = #{filepathorigin,jdbcType=VARCHAR},
      </if>
      <if test="filepathresult != null">
        filePathResult = #{filepathresult,jdbcType=VARCHAR},
      </if>
      <if test="picorvideo != null">
        picOrVideo = #{picorvideo,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hawksoft.platform.generatorPojo.Floatingmatter">
    update floatingmatter
    set stnId = #{stnid,jdbcType=INTEGER},
      collectionTime = #{collectiontime,jdbcType=TIMESTAMP},
      camIndex = #{camindex,jdbcType=INTEGER},
      filePathOrigin = #{filepathorigin,jdbcType=VARCHAR},
      filePathResult = #{filepathresult,jdbcType=VARCHAR},
      picOrVideo = #{picorvideo,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>