<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawksoft.platform.generatorMapper.FlowMapper">
  <resultMap id="BaseResultMap" type="com.hawksoft.platform.generatorPojo.Flow">
    <result column="flowId" jdbcType="BIGINT" property="flowid" />
    <result column="stnId" jdbcType="INTEGER" property="stnid" />
    <result column="avgSpeed" jdbcType="DECIMAL" property="avgspeed" />
    <result column="riverArea" jdbcType="DECIMAL" property="riverarea" />
    <result column="avgFlow" jdbcType="DECIMAL" property="avgflow" />
    <result column="collectionTime" jdbcType="TIMESTAMP" property="collectiontime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="dayFlow" jdbcType="DECIMAL" property="dayflow" />
    <result column="weekFlow" jdbcType="DECIMAL" property="weekflow" />
    <result column="monthFlow" jdbcType="DECIMAL" property="monthflow" />
    <result column="yearFlow" jdbcType="DECIMAL" property="yearflow" />
    <result column="totalFlow" jdbcType="DECIMAL" property="totalflow" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <insert id="insert" parameterType="com.hawksoft.platform.generatorPojo.Flow">
    insert into flow (flowId, stnId, avgSpeed, 
      riverArea, avgFlow, collectionTime, 
      state, dayFlow, weekFlow, 
      monthFlow, yearFlow, totalFlow, 
      remark)
    values (#{flowid,jdbcType=BIGINT}, #{stnid,jdbcType=INTEGER}, #{avgspeed,jdbcType=DECIMAL}, 
      #{riverarea,jdbcType=DECIMAL}, #{avgflow,jdbcType=DECIMAL}, #{collectiontime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=VARCHAR}, #{dayflow,jdbcType=DECIMAL}, #{weekflow,jdbcType=DECIMAL}, 
      #{monthflow,jdbcType=DECIMAL}, #{yearflow,jdbcType=DECIMAL}, #{totalflow,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hawksoft.platform.generatorPojo.Flow">
    insert into flow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowId,
      </if>
      <if test="stnid != null">
        stnId,
      </if>
      <if test="avgspeed != null">
        avgSpeed,
      </if>
      <if test="riverarea != null">
        riverArea,
      </if>
      <if test="avgflow != null">
        avgFlow,
      </if>
      <if test="collectiontime != null">
        collectionTime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="dayflow != null">
        dayFlow,
      </if>
      <if test="weekflow != null">
        weekFlow,
      </if>
      <if test="monthflow != null">
        monthFlow,
      </if>
      <if test="yearflow != null">
        yearFlow,
      </if>
      <if test="totalflow != null">
        totalFlow,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=BIGINT},
      </if>
      <if test="stnid != null">
        #{stnid,jdbcType=INTEGER},
      </if>
      <if test="avgspeed != null">
        #{avgspeed,jdbcType=DECIMAL},
      </if>
      <if test="riverarea != null">
        #{riverarea,jdbcType=DECIMAL},
      </if>
      <if test="avgflow != null">
        #{avgflow,jdbcType=DECIMAL},
      </if>
      <if test="collectiontime != null">
        #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="dayflow != null">
        #{dayflow,jdbcType=DECIMAL},
      </if>
      <if test="weekflow != null">
        #{weekflow,jdbcType=DECIMAL},
      </if>
      <if test="monthflow != null">
        #{monthflow,jdbcType=DECIMAL},
      </if>
      <if test="yearflow != null">
        #{yearflow,jdbcType=DECIMAL},
      </if>
      <if test="totalflow != null">
        #{totalflow,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.hawksoft.platform.generatorPojo.Flow">
    <result column="flowId" jdbcType="BIGINT" property="flowid" />
    <result column="stnId" jdbcType="INTEGER" property="stnid" />
    <result column="avgSpeed" jdbcType="DECIMAL" property="avgspeed" />
    <result column="riverArea" jdbcType="DECIMAL" property="riverarea" />
    <result column="avgFlow" jdbcType="DECIMAL" property="avgflow" />
    <result column="collectionTime" jdbcType="TIMESTAMP" property="collectiontime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="dayFlow" jdbcType="DECIMAL" property="dayflow" />
    <result column="weekFlow" jdbcType="DECIMAL" property="weekflow" />
    <result column="monthFlow" jdbcType="DECIMAL" property="monthflow" />
    <result column="yearFlow" jdbcType="DECIMAL" property="yearflow" />
    <result column="totalFlow" jdbcType="DECIMAL" property="totalflow" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <insert id="insert" parameterType="com.hawksoft.platform.generatorPojo.Flow">
    insert into flow (flowId, stnId, avgSpeed, 
      riverArea, avgFlow, collectionTime, 
      state, dayFlow, weekFlow, 
      monthFlow, yearFlow, totalFlow, 
      remark)
    values (#{flowid,jdbcType=BIGINT}, #{stnid,jdbcType=INTEGER}, #{avgspeed,jdbcType=DECIMAL}, 
      #{riverarea,jdbcType=DECIMAL}, #{avgflow,jdbcType=DECIMAL}, #{collectiontime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=VARCHAR}, #{dayflow,jdbcType=DECIMAL}, #{weekflow,jdbcType=DECIMAL}, 
      #{monthflow,jdbcType=DECIMAL}, #{yearflow,jdbcType=DECIMAL}, #{totalflow,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hawksoft.platform.generatorPojo.Flow">
    insert into flow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowId,
      </if>
      <if test="stnid != null">
        stnId,
      </if>
      <if test="avgspeed != null">
        avgSpeed,
      </if>
      <if test="riverarea != null">
        riverArea,
      </if>
      <if test="avgflow != null">
        avgFlow,
      </if>
      <if test="collectiontime != null">
        collectionTime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="dayflow != null">
        dayFlow,
      </if>
      <if test="weekflow != null">
        weekFlow,
      </if>
      <if test="monthflow != null">
        monthFlow,
      </if>
      <if test="yearflow != null">
        yearFlow,
      </if>
      <if test="totalflow != null">
        totalFlow,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=BIGINT},
      </if>
      <if test="stnid != null">
        #{stnid,jdbcType=INTEGER},
      </if>
      <if test="avgspeed != null">
        #{avgspeed,jdbcType=DECIMAL},
      </if>
      <if test="riverarea != null">
        #{riverarea,jdbcType=DECIMAL},
      </if>
      <if test="avgflow != null">
        #{avgflow,jdbcType=DECIMAL},
      </if>
      <if test="collectiontime != null">
        #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="dayflow != null">
        #{dayflow,jdbcType=DECIMAL},
      </if>
      <if test="weekflow != null">
        #{weekflow,jdbcType=DECIMAL},
      </if>
      <if test="monthflow != null">
        #{monthflow,jdbcType=DECIMAL},
      </if>
      <if test="yearflow != null">
        #{yearflow,jdbcType=DECIMAL},
      </if>
      <if test="totalflow != null">
        #{totalflow,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.hawksoft.platform.generatorPojo.Flow">
    <result column="flowId" jdbcType="BIGINT" property="flowid" />
    <result column="stnId" jdbcType="INTEGER" property="stnid" />
    <result column="avgSpeed" jdbcType="DECIMAL" property="avgspeed" />
    <result column="riverArea" jdbcType="DECIMAL" property="riverarea" />
    <result column="avgFlow" jdbcType="DECIMAL" property="avgflow" />
    <result column="collectionTime" jdbcType="TIMESTAMP" property="collectiontime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="dayFlow" jdbcType="DECIMAL" property="dayflow" />
    <result column="weekFlow" jdbcType="DECIMAL" property="weekflow" />
    <result column="monthFlow" jdbcType="DECIMAL" property="monthflow" />
    <result column="yearFlow" jdbcType="DECIMAL" property="yearflow" />
    <result column="totalFlow" jdbcType="DECIMAL" property="totalflow" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <insert id="insert" parameterType="com.hawksoft.platform.generatorPojo.Flow">
    insert into flow (flowId, stnId, avgSpeed, 
      riverArea, avgFlow, collectionTime, 
      state, dayFlow, weekFlow, 
      monthFlow, yearFlow, totalFlow, 
      remark)
    values (#{flowid,jdbcType=BIGINT}, #{stnid,jdbcType=INTEGER}, #{avgspeed,jdbcType=DECIMAL}, 
      #{riverarea,jdbcType=DECIMAL}, #{avgflow,jdbcType=DECIMAL}, #{collectiontime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=VARCHAR}, #{dayflow,jdbcType=DECIMAL}, #{weekflow,jdbcType=DECIMAL}, 
      #{monthflow,jdbcType=DECIMAL}, #{yearflow,jdbcType=DECIMAL}, #{totalflow,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hawksoft.platform.generatorPojo.Flow">
    insert into flow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        flowId,
      </if>
      <if test="stnid != null">
        stnId,
      </if>
      <if test="avgspeed != null">
        avgSpeed,
      </if>
      <if test="riverarea != null">
        riverArea,
      </if>
      <if test="avgflow != null">
        avgFlow,
      </if>
      <if test="collectiontime != null">
        collectionTime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="dayflow != null">
        dayFlow,
      </if>
      <if test="weekflow != null">
        weekFlow,
      </if>
      <if test="monthflow != null">
        monthFlow,
      </if>
      <if test="yearflow != null">
        yearFlow,
      </if>
      <if test="totalflow != null">
        totalFlow,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=BIGINT},
      </if>
      <if test="stnid != null">
        #{stnid,jdbcType=INTEGER},
      </if>
      <if test="avgspeed != null">
        #{avgspeed,jdbcType=DECIMAL},
      </if>
      <if test="riverarea != null">
        #{riverarea,jdbcType=DECIMAL},
      </if>
      <if test="avgflow != null">
        #{avgflow,jdbcType=DECIMAL},
      </if>
      <if test="collectiontime != null">
        #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="dayflow != null">
        #{dayflow,jdbcType=DECIMAL},
      </if>
      <if test="weekflow != null">
        #{weekflow,jdbcType=DECIMAL},
      </if>
      <if test="monthflow != null">
        #{monthflow,jdbcType=DECIMAL},
      </if>
      <if test="yearflow != null">
        #{yearflow,jdbcType=DECIMAL},
      </if>
      <if test="totalflow != null">
        #{totalflow,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>