<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawksoft.platform.dao.FloatingMatterDao">

    <!--查询漂浮物数据-->
    <select id="queryRecordsNumByDayTime" parameterType="Map" resultType="Map">
        SELECT DATE_FORMAT(collectionTime,"%Y-%m-%d") days,count(*) nums
          FROM floatingmatter
          WHERE
            DATE_FORMAT(collectionTime,'%Y-%m-%d') >= #{startTime}
            AND
            DATE_FORMAT(collectionTime,'%Y-%m-%d') <![CDATA[ <= ]]> #{endTime}
            AND
            stnId = #{stnId}
          GROUP BY days;
    </select>

    <!--查询最近limit漂浮物数据-->
    <select id="queryLastDaysRecordsNum" parameterType="Map" resultType="Map">
        SELECT DATE_FORMAT(collectionTime,"%Y-%m-%d") recordTime,count(*) nums
        FROM floatingmatter
        WHERE
        stnId = #{stnId}
        GROUP BY recordTime
        LIMIT #{days};
    </select>

    <!--根据日期查询漂浮物信息-->
    <select id = "queryFMByDate" parameterType="Map" resultType="com.hawksoft.platform.entity.FloatingMatter">
        SELECT stnId,collectionTime,camIndex,filePathOrigin,filePathResult,picOrVideo
        FROM floatingmatter
        WHERE
        DATE_FORMAT(collectionTime,'%Y-%m-%d') = #{date}
        AND
        stnId = #{stnId}
    </select>

    <!--根据时间查询漂浮物信息-->
    <select id = "findFMByTime" parameterType="Map" resultType="com.hawksoft.platform.entity.FloatingMatter">
        SELECT stnId,collectionTime,camIndex,filePathOrigin,filePathResult,picOrVideo
          FROM floatingmatter
          WHERE
            DATE_FORMAT(collectionTime,'%Y-%m-%d') >= #{startTime}
            AND
            DATE_FORMAT(collectionTime,'%Y-%m-%d') <![CDATA[ <= ]]> #{endTime}
            AND
            stnId = #{stnId}
    </select>

    <insert id="saveFloatingMatter" parameterType="com.hawksoft.platform.entity.FloatingMatter">
        INSERT INTO floatingmatter
            (stnId,collectionTime,camIndex)
        VALUES
        (#{stnId},#{collectionTime},#{camIndex})
    </insert>

    <!--根据站点Id查询最新3张漂浮物图片-->
    <select id="queryLastRecord" parameterType="int" resultType="com.hawksoft.platform.entity.FloatingMatter">
        SELECT  stnId,filePathResult
        FROM floatingmatter
        WHERE stnId = #{stnId}
        order by collectionTime DESC
        LIMIT 3
    </select>

    <!--查询某站点是否有漂浮物信息-->
    <select id="queryStationInfo" parameterType="int" resultType="int">
        SELECT  count(*)
        FROM floatingmatter
        WHERE stnId = #{stnId}
    </select>
</mapper>