<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawksoft.platform.dao.WaterQualityDao">
    <!--获取水质站点的最新数据-->
    <select id="queryLastWaterQualityByStnId" parameterType="int" resultType="com.hawksoft.platform.entity.WaterQuality">
        SELECT id, stnId, temperature, conductivity, salinity, tds, density, ph, dissolvedOxygen, doSaturation, redox,
         turbidity, tss, chlorophylA, phycocyanobilin, hatchOpen, waterPenetration, voltage, transparency, NH3,
         collectionTime, instockTime, state, picOrVideo, FilePath
          FROM waterquality
            WHERE
            collectionTime =
            (
             SELECT MAX(collectionTime)
                FROM waterquality
                WHERE stnId = #{stnId}
            )
          and stnId = #{stnId}
    </select>

    <!--取得某个指标的实时水质-->
    <select id="queryLastWaterQualityByStnIdType" parameterType="Map" resultType="com.hawksoft.platform.entity.WaterQuality">
        SELECT id,${type} as returnDateValue,collectionTime
        FROM waterquality
        WHERE
        stnId = #{stnId}
        and collectionTime >= #{startTime}
        and collectionTime <![CDATA[ <= ]]> #{endTime}
        order by collectionTime
    </select>

    <!--获取站点的上周水质数据-->
    <select id="queryLastWeekWaterQuality" parameterType="Map" resultType="com.hawksoft.platform.entity.WaterQuality">
        SELECT id, stnId, temperature, conductivity, salinity, tds, density, ph, dissolvedOxygen, doSaturation, redox,
        turbidity, tss, chlorophylA, phycocyanobilin, hatchOpen, waterPenetration, voltage, transparency, NH3,
        collectionTime, instockTime, state, picOrVideo, FilePath
        FROM waterquality
        WHERE
        stnId = #{stnId}
        and collectionTime >= #{startTime}
        and collectionTime <![CDATA[ <= ]]> #{endTime}
    </select>
    <sql id="key">
        <!--去掉最后一个,号  -->
        <trim suffixOverrides=",">
            <if test="id!=null">
                id,
            </if>
            <if test="stnId!=null">
                stnId,
            </if>
            <if test="temperature!=null">
                temperature,
            </if>
            <if test="ph!=null">
                ph,
            </if>
            <if test="dissolvedOxygen!=null">
                dissolvedOxygen,
            </if>
            <if test="redox!=null">
                redox,
            </if>
            <if test="transparency!=null">
                transparency,
            </if>
            <if test="conductivity!=null">
                conductivity,
            </if>
            <if test="turbidity!=null">
                turbidity,
            </if>
            <if test="NH3!=null">
                NH3,
            </if>
            <if test="collectionTime!=null">
                collectionTime,
            </if>
            <if test="instockTime!=null">
                instockTime,
            </if>
            <if test="state!=null">
                state,
            </if>
            <if test="picOrVideo!=null">
                picOrVideo,
            </if>
            <if test="FilePath!=null">
                FilePath,
            </if>
            <if test="salinity!=null">
                salinity,
            </if>
            <if test="tds!=null">
                tds,
            </if>
            <if test="density!=null">
                density,
            </if>
            <if test="doSaturation!=null">
                doSaturation,
            </if>
            <if test="tss!=null">
                tss,
            </if>
            <if test="chlorophylA!=null">
                chlorophylA,
            </if>
            <if test="phycocyanobilin!=null">
                phycocyanobilin,
            </if>
            <if test="hatchOpen!=null">
                hatchOpen,
            </if>
            <if test="waterPenetration!=null">
                waterPenetration,
            </if>
            <if test="voltage!=null">
                voltage,
            </if>
        </trim>
    </sql>
    <sql id="value">
        <!--去掉最后一个,号  -->
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="stnId!=null">
                #{stnId},
            </if>
            <if test="temperature!=null">
                #{temperature},
            </if>
            <if test="ph!=null">
                #{ph},
            </if>
            <if test="dissolvedOxygen!=null">
                #{dissolvedOxygen},
            </if>
            <if test="redox!=null">
                #{redox},
            </if>
            <if test="transparency!=null">
                #{transparency},
            </if>
            <if test="conductivity!=null">
                #{conductivity},
            </if>
            <if test="turbidity!=null">
                #{turbidity},
            </if>
            <if test="NH3!=null">
                #{NH3},
            </if>
            <if test="collectionTime!=null">
                #{collectionTime},
            </if>
            <if test="instockTime!=null">
                #{instockTime},
            </if>
            <if test="state!=null">
                #{state},
            </if>
            <if test="picOrVideo!=null">
                #{picOrVideo},
            </if>
            <if test="FilePath!=null">
                #{FilePath},
            </if>
            <if test="salinity!=null">
                #{salinity},
            </if>
            <if test="tds!=null">
                #{tds},
            </if>
            <if test="density!=null">
                #{density},
            </if>
            <if test="doSaturation!=null">
                #{doSaturation},
            </if>
            <if test="tss!=null">
                #{tss},
            </if>
            <if test="chlorophylA!=null">
                #{chlorophylA},
            </if>
            <if test="phycocyanobilin!=null">
                #{phycocyanobilin},
            </if>
            <if test="hatchOpen!=null">
                #{hatchOpen},
            </if>
            <if test="waterPenetration!=null">
                #{waterPenetration},
            </if>
            <if test="voltage!=null">
                #{voltage},
            </if>
        </trim>
    </sql>
    <insert id="saveWaterQuality" parameterType="com.hawksoft.platform.entity.WaterQuality" useGeneratedKeys="true" keyProperty="id">
        insert into waterquality(<include refid="key"/>) VALUES (<include refid="value"/>)
    </insert>

    <!-- set 标签会自动判断哪个是最后的一个字段，会自动去掉最后一个，号 -->
    <update id="updateWaterQuality" parameterType="map">
        UPDATE waterquality
        <set>
            <if test="stnId!=null">
                stnId=#{stnId},
            </if>
            <if test="temperature!=null">
                temperature=#{temperature},
            </if>
            <if test="ph!=null">
                ph=#{ph},
            </if>
            <if test="dissolvedOxygen!=null">
                dissolvedOxygen=#{dissolvedOxygen},
            </if>
            <if test="redox!=null">
                redox=#{redox},
            </if>
            <if test="transparency!=null">
                transparency=#{transparency},
            </if>
            <if test="conductivity!=null">
                conductivity=#{conductivity},
            </if>
            <if test="turbidity!=null">
                turbidity=#{turbidity},
            </if>
            <if test="NH3!=null">
                NH3=#{NH3},
            </if>
            <if test="collectionTime!=null">
                collectionTime=#{collectionTime},
            </if>
            <if test="instockTime!=null">
                instockTime=#{instockTime},
            </if>
            <if test="state!=null">
                state=#{state},
            </if>
            <if test="picOrVideo!=null">
                picOrVideo=#{picOrVideo},
            </if>
            <if test="FilePath!=null">
                FilePath=#{FilePath},
            </if>

            <if test="salinity!=null">
                salinity=#{salinity},
            </if>
            <if test="tds!=null">
                tds=#{tds},
            </if>
            <if test="density!=null">
                density=#{density},
            </if>
            <if test="doSaturation!=null">
                doSaturation=#{doSaturation},
            </if>
            <if test="tss!=null">
                tss=#{tss},
            </if>
            <if test="chlorophylA!=null">
                chlorophylA=#{chlorophylA},
            </if>
            <if test="phycocyanobilin!=null">
                phycocyanobilin=#{phycocyanobilin},
            </if>
            <if test="hatchOpen!=null">
                hatchOpen=#{hatchOpen},
            </if>
            <if test="waterPenetration!=null">
                waterPenetration=#{waterPenetration},
            </if>
            <if test="voltage!=null">
                voltage=#{voltage},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- 通过ID删除 waterquality表里的水质记录 -->
    <delete id="deleteWaterQuality" parameterType="map">
        DELETE FROM waterquality WHERE id = #{id}
    </delete>

    <!--取得某个指标的实时水质-->
    <select id="lastWaterQualityRecordsNum" parameterType="Map" resultType="com.hawksoft.platform.entity.WaterQuality">
        SELECT id,${type} as returnDateValue,collectionTime
        FROM waterquality
        WHERE
        stnId = #{stnId}
        order by collectionTime DESC
        limit #{days}
    </select>
    <!--根据站点Id和时间，从无人船中获取水质数据-->
    <select id = "queryWaterQualityFromUB" parameterType="Map" resultType="Map">
        SELECT  ub.stnId,ub.longitude,ub.latitude,wq.temperature,wq.ph
        FROM unmannedboat ub,waterquality wq
        WHERE
          wq.stnId = #{stnId}
          AND
          ub.stnId = #{stnId}
          AND wq.collectionTime = (SELECT  MAX(collectionTime) from waterquality)
          AND ub.time = (SELECT  MAX(`time`) from unmannedboat)

    </select>

    <!--根据站点Id和起始时间，从无人船中获取历史水质数据-->
    <select id="queryUBHistory" parameterType="Map" resultType="Map">
        SELECT  ub.stnId,ub.longitude,ub.latitude,wq.temperature,wq.ph
        FROM unmannedboat ub,waterquality wq
        WHERE
          wq.stnId = #{stnId}
          AND
          ub.stnId = #{stnId}
          AND wq.collectionTime >= #{startTime}
          AND collectionTime <![CDATA[ <= ]]> #{endTime}
    </select>

    <!--查询某站点是否有水质信息-->
    <select id="queryStationInfo" parameterType="int" resultType="int">
        SELECT  count(*)
        FROM waterquality
        WHERE stnId = #{stnId}
    </select>

</mapper>