<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawksoft.platform.dao.WaterStationDao">

    <!-- 通过站点ID和视频类型查询断面图 -->
    <select id="querySectionMap" parameterType="int" resultType="Map">
        SELECT id,sectionMapPath
        FROM waterstation
        WHERE
        id = #{stnId}
    </select>

    <!--获取所有站点基本信息-->
    <select id="queryStationBaseInfo" resultType="com.hawksoft.platform.entity.WaterStation">
        select id,stnName,x,y
        from waterstation
    </select>

    <!--通过站点名称查询站点ID-->
    <select id="queryIdByName" resultType="Integer">
        select id from waterstation where stnName=#{name}
    </select>

    <!--通过站点ID查询站点Code-->
    <select id="queryCodeById" parameterType="int" resultType="String">
        select stnCode from waterstation where id=#{stnId}
    </select>

</mapper>